<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="project_1.css">
</head>
<body style = "margin:0px;font-family:Arial, Helvetica, sans-serif;font-size:14px;">
    <div class = "main_body" style = "display:flex;">

        <div class = "left_menu">
                 
                <div class = "left_menu_header1">
                        <img src = "src/cube.png" width = "40px" height = "40px"/>
                        <div>AppStack</div>
                </div>

                <div class = "left_menu_header2">

                        <div>Menu</div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Dashboard</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Pages</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Auth</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Layouts</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Documentation</div>
                </div>
                
                        
                <div class = "left_menu_header3">

                        <div>Components</div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>UI Elements</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Charts</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Forms</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Tables</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Icons</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Calender</div>
                        </div>
                        <div name=style1>
                            <img src="src/form.png" width="30px" height="30px">
                            <div>Maps</div>
                        </div>
                </div>

                <div class = "left_menu_footer">
                        <div>
                            <img src = "src/profile1.png" alt = "profilepic"/>
                        </div>
                        <div>
                            <div>Phanivyas</div>
                            <div>
                                <img src = "src/online.png" />
                            </div>
                        </div>
                </div>

            </div>
        </div>

        <div class = "page_body">
                
            <div class = "page_body_header1">
                <div class = "left_area">
                    <div>
                        <img src = "src/search.png"/>
                    </div>
                    <div>
                        <input type = "search" placeholder = "Search projects" style = "border:0px;"/>
                    </div>
                </div>
                <div class = "right_area" style = "padding-right:20px;">
                    <img src = "src/chat.png" alt = "icons"/>
                    <img src = "src/bell.png" alt = "icons"/>
                    <img src = "src/india.png" alt = "icons"/>
                    <img src = "src/profile1.png" alt = "profilepic"/>
                    <a href = "" style = "text-decoration:none;">Phanivyas</a>
                </div>
            </div>

            <div class = "header2">

                <div class = "header2boxes">
                    <div>
                        <img src = "src/cart.png" />
                    </div>
                    <div>
                        <div style = "font-size: 20px">2.562</div>
                        <div>Sales Today</div>
                    </div>
                </div>

                <div class="header2boxes">
                    <div>
                        <img src="src/pulse.png" />
                    </div>
                    <div>
                        <div style = "font-size: 20px">17.212</div>
                        <div>Visitors Today</div>
                    </div>
                </div>

                <div class="header2boxes">
                    <div>
                        <img src="src/dollor.png" />
                    </div>
                    <div>
                        <div style = "font-size: 20px">$24.300</div>
                        <div>Total Earnings</div>
                    </div>
                </div>

                <div class="header2boxes">
                    <div>
                        <img src="src/pendingorder.png" />
                    </div>
                    <div>
                        <div style = "font-size: 20px">43</div>
                        <div>Pending Orders</div>
                    </div>
                </div>

            </div>

            <div class = "header3">
                
                <div>
                    <img src = "src/revenuegraph.png" width = "650px" height = "500px" style = "margin-left: 30px;margin-right: 36px;"/>
                </div>

                <div class = "dailyfeed">

                    <div style = "display:flex;justify-content:space-around;">
                        <span>Daily Feed</span>
                        <span style = "background-color:#47BAC1;margin-left:175px;color:white;border-radius:4px">Today</span>
                    </div>

                    <div class="dailyfeed_rows">
                        <div>
                            <img src="src/braingreene.jpg" alt="profilepic" />
                        </div>
                        <div style="display:flex;align-items:center;flex-wrap:wrap;margin-left:15px;">
                            <div>
                                Brain started following Phanivyas
                            </div>
                            <div style="margin-top:15px;margin-bottom:15px;">
                                Today 8:30 PM
                            </div>
                        </div>
                        <div style="width:85px;">
                            5m ago
                        </div>                      
                    </div>

                    <div class="dailyfeed_rows">
                        <div>
                            <img src="src/profile1.png" alt="profilepic" />
                        </div>
                        <div style="display:flex;align-items:center;flex-wrap:wrap;margin-left:15px;">
                            <div>
                                Phanivyas posted something on Brain's wall
                            </div>
                            <div style="margin-top:15px;margin-bottom:15px;">
                                Today 6:15 AM
                            </div>
                        </div>
                        <div style="width:100px;">
                            30m ago
                        </div> 
                    </div>
                    
                    <div style = "border:1px solid rgb(180, 178, 178)">Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing...</div>
                    
                    <div class="dailyfeed_rows" style = "border-top:1px solid gray;padding-top:15px!important;">
                        <div>
                            <img src="src/neil.jpg" alt="profilepic" />
                        </div>
                        <div style="display:flex;align-items:center;flex-wrap:wrap;margin-left:15px;">
                            <div>
                                Neil has posted a new blog
                            </div>
                            <div style="margin-top:15px;margin-bottom:15px;">
                                Today 11:15 AM
                            </div>
                        </div>
                        <div style="width:85px;">
                            1h ago
                        </div>                      
                    </div>

                    <button style = "background-color:#47BAC1;width:300px;height:30px;color:white;text-align:center;border-radius:6px;border:0px;margin-left:15px;margin-top:25px;">Load More</button>

                </div>

            </div>

            <div class = "header4">
                    
                    <div class = "calender">
                            <div class = "calender_header">
                                <span style = "width:180px;padding-left:30px;padding-top:20px;">Calender</span>
                                <span style = "padding-left:80px;padding-top:15px;font-weight:bold;">&#8230</span>
                            </div>

                            <div class = "calender_monthname">
                                <span style = "padding-right:70px;">&#60</span>
                                <span>November2019</span>
                                <span style = "padding-left:70px;">&#62</span>
                            </div>

                            <table style = "width:310px;height:310px;margin-top:50px;text-align:center;">
                                <thead>
                                    <tr>
                                        <th>Su</th>
                                        <th>Mo</th>
                                        <th>Tu</th>
                                        <th>We</th>
                                        <th>Th</th>
                                        <th>Fr</th>
                                        <th>Sa</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                        <td>31</td>
                                        <td>1</td>
                                        <td>2</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                    </tr>
                                    <tr>
                                        <td>10</td>
                                        <td>11</td>
                                        <td>12</td>
                                        <td>13</td>
                                        <td>14</td>
                                        <td>15</td>
                                        <td style = "background-color:rgb(174, 174, 216)">16</td>
                                    </tr>
                                    <tr>
                                        <td>17</td>
                                        <td>18</td>
                                        <td>19</td>
                                        <td>20</td>
                                        <td>21</td>
                                        <td>22</td>
                                        <td>23</td>
                                    </tr>
                                    <tr>
                                        <td>24</td>
                                        <td>25</td>
                                        <td>26</td>
                                        <td>27</td>
                                        <td>28</td>
                                        <td>29</td>
                                        <td>30</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>3</td>
                                        <td>4</td>
                                        <td>5</td>
                                        <td>6</td>
                                        <td>7</td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>

                    <div class = "weekly_sales">
                        <div class = "weeklysales_header">
                            <span style = "width:180px;padding-left:30px;padding-top:20px;">Weekly sales</span>
                            <span style = "padding-left:80px;padding-top:15px;font-weight:bold;">&#8230</span>
                        </div>
                        <div style = "margin-left:80px;margin-top:80px;">
                            <img src = "src/piechart.png">
                        </div>
                        <table align = "center" style = "border-collapse:collapse;text-align:center;width:295px;margin-top:30px;height:150px;">
                            <thead>
                                <tr style = "border-top:1px solid grey;border-bottom:1px solid grey;">
                                    <th>Source</th>
                                    <th>Revenue</th>
                                    <th>Value</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style = "border-bottom:1px solid grey;">
                                    <td><div style = "background:rgb(81, 167, 167);width:10px;height:10px;float:left"></div>Direct</td>
                                    <td>$2602</td>
                                    <td>+43%</td>
                                </tr>
                                <tr style = "border-bottom:1px solid grey;">
                                        <td><div style = "background:yellow;width:10px;height:10px;float:left"></div>Affiliate</td>
                                        <td>$1253</td>
                                        <td>+13%</td>
                                </tr>
                                <tr style = "border-bottom:1px solid grey;">
                                        <td><div style = "background:rgb(189, 90, 106);width:10px;height:10px;float:left"></div>E-Mail</td>
                                        <td>$541</td>
                                        <td>+24%</td>
                                </tr>
                                <tr>
                                        <td><div style = "background:rgb(51, 49, 49);width:10px;height:10px;float:left"></div>Other</td>
                                        <td>$1465</td>
                                        <td>+11%</td>
                                </tr>    
                            </tbody>
                        </table>
                    </div>
                    <div class = "appointments">
                            <div class = "weeklysales_header">
                                    <span style = "width:180px;padding-left:30px;padding-top:20px;">Appointments</span>
                                    <span style = "padding-left:80px;padding-top:15px;font-weight:bold;">&#8230</span>
                            </div>
                            <h3 style = "text-align:left;padding-left:15px;">You have a meeting today!</h3>
                            <div style = "text-align:left;padding-left:15px;font-size:15px;">Your meeting is in next 2 hours. Check your schedule to see the details</div>
                            <div>
                                <div style = "display:flex;justify-content:space-between;margin-top:20px;width:350px;">
                                    <div style = "margin-left:10px;">
                                        <img src = "src/cir_bullet.png"/>
                                    </div>
                                    <div style = "margin-left:10px;text-align:left;margin-right:40px;">
                                        Chat with Carl and Ashley
                                        Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam
                                        ultrices mauris. Integer ante arcu...
                                    </div>
                                    <div style = "margin-right:20px;">30min ago</div>
                                </div>
                                <div style = "display:flex;justify-content:space-between;margin-top:20px;width:350px;">
                                    <div style = "margin-left:10px;">
                                        <img src = "src/cir_bullet.png"/>
                                    </div>
                                    <div style = "margin-left:10px;text-align:left;margin-right:40px;">
                                        The big launch
                                        Sed aliquam ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris. Praesent adipiscing.
                                        Phasellus ullamcorper ipsum rutrum nunc...
                                    </div>
                                    <div style = "margin-right:20px;">2h ago</div>
                                </div>

                            </div>
                    </div>
                </div>
                    <div class = "latestprojects" style = "display:flex;">
                        <div class = "projects_table">
                            <div class = "projects_table_header" style = "display:flex;justify-content: space-between;width:700px;height:40px;">
                                <span style = "padding-top:5px;padding-left:10px;">Latest Projects</span>
                                <span style = "padding-top:5px;padding-right:10px;">&#8230</span>
                            </div>
                            <div class = "table">
                                <table style = "text-align:center;width:700px;border-collapse:collapse;height:400px;margin-left:30px;">
                                    <thead>
                                        <tr style = "background-color:white;">
                                            <th>Name</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Status</th>
                                            <th>Assignee</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Project Apollo</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:green;border-radius:4px;display:inline-block;">Done</td>
                                            <td>Carl Jenkins</td>
                                        </tr>
                                        <tr style = "background-color:white;">
                                            <td>Project Fireball</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:rgb(206, 114, 114);border-radius:4px;display:inline-block;">Cancelled</td>
                                            <td>Bertha Martin</td>
                                        </tr>
                                        <tr>
                                            <td>Project Hades</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:green;border-radius:4px;display:inline-block;">Done</td>
                                            <td>Stacie Hall</td>
                                        </tr>
                                        <tr style = "background-color:white;">
                                            <td>Project Nitro</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:rgb(224, 224, 50);border-radius:4px;display:inline-block;">In Progress</td>
                                            <td>Carl Jenkins</td>
                                        </tr>
                                        <tr>
                                            <td>Project Phoenix</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:green;border-radius:4px;display:inline-block;">Done</td>
                                            <td>Bertha Martin</td>
                                        </tr>
                                        <tr style = "background-color:white;">
                                            <td>Project Romeo</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:green;border-radius:4px;display:inline-block;">Done</td>
                                            <td>Ashley Briggs</td>
                                        </tr>
                                        <tr>
                                            <td>Project Wombat</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:rgb(224, 224, 50);border-radius:4px;display:inline-block;">In Progress</td>
                                            <td>Bertha Martin</td>
                                        </tr>
                                        <tr style = "background-color:white;">
                                            <td>Project Zircon</td>
                                            <td>01/01/2018</td>
                                            <td>31/06/2018</td>
                                            <td style = "background-color:rgb(206, 114, 114);border-radius:4px;display:inline-block;">Cancelled</td>
                                            <td>Stacie Hall</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class = "salesgraph">
                                <div>
                                    <img src = "src/salesgraph.png" width = "340px" height = "440px" style = "padding-top:40px;padding-left:20px;"/>
                                </div>
                        </div>
                    </div>

                    <div>
                        <input type = "image" src = "src/settings.png" width = "40px" height = "40px" style = "position:fixed;right:0px;top:255px;background-color:#343a40"/>
                    </div>

                    <footer style = "display:flex;justify-content: space-between;margin-top:20px">
                        <div style = "display:flex;">
                            <div style = "padding-right:10px;padding-left:20px;">Support</div>
                            <div style = "padding-right:10px;">Help Center</div>
                            <div style = "padding-right:10px;">Privacy</div>
                            <div style = "padding-right:10px;">Terms of Service</div>
                        </div>
                        <div>
                            <div>&#169; 2019 - Appstack</div>
                        </div>
                    </footer>
                    
            </div>
            
            
        </div>
        
    </div>
</body>
</html>