<!DOCTYPE html>
<html>
</html>
<body style = "margin:0px;">
        <img src = "nubra.jpg" width = "300px">
        <img src = "nubra.jpg" width = "300px" style = "position:fixed;right:0px">
        <img src = "nubra.jpg" width = "300px" style = "position:fixed;bottom:0px;left:0px;">
        <img src = "nubra.jpg" width = "300px" style = "position:fixed;bottom:0px;right:0px;">
        <img src = "nubra.jpg" width = "300px" style = "position:fixed;top:225px;bottom:50px;left:500px;right:50px;">
</body>