<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />

    <style>
        .card-body {
            height: 260px;

        }

        .col-md-3 {
            max-width: 30%;
        }
    </style>
</head>

<body>
    <div class="container-fluid">

        <div class="row page_title">
            <div class="col-md-12 text-center bg-info mt-2 text-white">
                <h3>Welcome to Prithvi Farms</h3>
            </div>
        </div>

        <div class="row mt-4 ml-5">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white">
                        <h5>About</h5>
                    </div>
                    <div class="card-body">
                        <p>Prithvi Farms trusts earth In it's natural form and thus avoids any kind of artificial
                            elements that
                            would harm nature.
                            If you are looking for a fresh, healthy and naturally grown vegetables at your door step
                            directly
                            from the farm, we are
                            here for you.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white">
                        <h5>Goal</h5>
                    </div>
                    <div class="card-body">
                        <p>Organic farming is giving back the nature to itself. Basically farming is just to use the
                            nature's
                            resource
                            for human
                            needs but on the go it became a demand due to less supply. The green revolution is the main
                            cause to
                            affect
                            the
                            nature and soon it will impact us. Natural farming is the best way to leave back the nature
                            to
                            itself.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header text-center bg-dark text-white">
                        <h5>Contact</h5>
                    </div>
                    <div class="card-body">
                        <p>web: www.prithvifarms.com </br></br> email: prithvifarms@gmail.com </br></br> www.facebootk.com/prithvifarms </br></br> www.twitter.com/prithvifarms</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="title1 mt-5">
            <h5>List of Organic Vegetables/Millets/Pulses for purchase</h5>
        </div>

        <div class="row mb-3 ml-1">
            <div class="col-md-2 bg-success text-white text-center">
                <div>Available now</div>
            </div>
            <div class="col-md-2 ml-2 bg-secondary text-white text-center">
                <div>Available for next week</div>
            </div>
            <div class="col-md-2 ml-2 bg-danger text-white text-center">
                <div>Not Available for this season</div>
            </div>
            <div class="col-md-6"></div>
        </div>

        <div class="list-group text-white">
            <li class="list-group-item bg-success">Carrot</li>
            <li class="list-group-item bg-success">Spinach</li>
            <li class="list-group-item bg-secondary">Beans</li>
            <li class="list-group-item bg-success">Brinjal</li>
            <li class="list-group-item bg-secondary">Ladiesfinger</li>
            <li class="list-group-item bg-secondary">Bottlegourd</li>
            <li class="list-group-item bg-danger">Ridgegourd</li>
            <li class="list-group-item bg-secondary">Tomato</li>
            <li class="list-group-item bg-success">Rice - Sona Masoori</li>
            <li class="list-group-item bg-danger">Moong Dal</li>
            <li class="list-group-item bg-secondary">Urad Dal</li>
            <li class="list-group-item bg-success">Channa Dal</li>
            <li class="list-group-item bg-secondary">Toor Dal</li>
        </div>

        <div class="card-title mt-5">
            <h5>Cost of the items</h5>
        </div>

        <table class="table table-striped table-hover text-white text-center">
            <thead class="bg-primary">
                <tr>
                    <td>S.No</td>
                    <td>Item</td>
                    <td>Min Order Qty(in KG)</td>
                    <td>Cost(in Rs)</td>
                </tr>
            </thead>
            <tbody class="bg-dark">
                <tr>
                    <td>1</td>
                    <td>Carrot</td>
                    <td>1</td>
                    <td>60</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Spinach</td>
                    <td>1</td>
                    <td>50</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Beans</td>
                    <td>1</td>
                    <td>80</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Cluster Beans</td>
                    <td>2</td>
                    <td>75</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Foxtail Millets</td>
                    <td>2</td>
                    <td>250</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>Rice</td>
                    <td>25</td>
                    <td>1800</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>Urad Dal</td>
                    <td>2</td>
                    <td>220</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>Channa Dal</td>
                    <td>1</td>
                    <td>85</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>Toor Dal</td>
                    <td>1</td>
                    <td>105</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>Tomato</td>
                    <td>1</td>
                    <td>60</td>
                </tr>

            </tbody>
        </table>
    </div>
</body>
</html>