<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <style>
        .card-body{
            padding:0px
        }

        .row{
            max-width:100%;
        }
        </style>
</head>

<body>
<div class = "page_body">
    <div class = "card">

        <div class = "card-header text-center bg-info">
            <h4>Welcome to Pruthvi Farms</h4>
        </div>

        <div class = "card-body">

            <div class = "card-title mt-5">
                <h6>List of Organic Vegetables/Millets/Pulses</h6>
            </div>

            <div class = "row mb-3">
                <div class = "col-md-2 bg-success text-white text-center">
                    <div>Available now</div>
                </div>
                <div class = "col-md-2 bg-warning text-white text-center">
                    <div>Available for next week</div>
                </div>
                <div class = "col-md-2 bg-danger text-white text-center">
                    <div>Discontinued</div>
                </div>
                <div class = "col-md-6"></div> 
            </div>

            <div class = "list-group text-white">
                <li class = "list-group-item bg-success">Carrot</li>
                <li class = "list-group-item bg-success">Spinach</li>
                <li class = "list-group-item bg-warning">Beans</li>
                <li class = "list-group-item bg-success">Brinjal</li>
                <li class = "list-group-item bg-warning">Ladiesfinger</li>
                <li class = "list-group-item bg-warning">Bottlegourd</li>
                <li class = "list-group-item bg-danger">Ridgegourd</li>
                <li class = "list-group-item bg-warning">Tomato</li>
                <li class = "list-group-item bg-success">Rice - Sona Masoori</li>
                <li class = "list-group-item bg-danger">Moong Dal</li>
                <li class = "list-group-item bg-warning">Urad Dal</li>
                <li class = "list-group-item bg-success">Channa Dal</li>
                <li class = "list-group-item bg-warning">Toor Dal</li>
            </div>

            <div class = "card-title mt-5">
                <h6>Previous week order history</h4>
            </div>

            <table class = "table table-striped table-hover text-white">
                <thead class = "bg-danger">
                    <tr>
                        <td>S.No</td>
                        <td>Item</td>
                        <td>Qty(in KG)</td>
                        <td>Cost(in Rs)</td>
                    </tr>
                </thead>
                <tbody class = "bg-secondary">
                    <tr>
                        <td>1</td>
                        <td>Brinjal</td>
                        <td>10</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ridgegourd</td>
                        <td>15</td>
                        <td>600</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Beetroot</td>
                        <td>20</td>
                        <td>1000</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Cluster Beans</td>
                        <td>25</td>
                        <td>1250</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Foxtail Millets</td>
                        <td>30</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Rice</td>
                        <td>200</td>
                        <td>6400</td>
                    </tr>
                </tbody>
            </table>
              
            <div class = "card-footer text-center bg-secondary text-white">
                <h6>&copy VBM INFOTECH 2019</h6>
            </div>

        </div>

    </div>
</div>
</body>
</html>