<!DOCTYPE html>
<html>
<head>
    <style>
        .header{
                    border-bottom:1px solid black;                
                    color:white;
                    text-align:center;
                }   

          .body{
                    color:white;
                    text-align:center;
                }

            #ID1{   
                    width:30%;
                    height:150px;
                    background-color:rgb(112, 102, 102);
                    border-radius:5px;
                }
    </style>
</head>

<body class = "page_body" style = "margin:0px">

    <div class = "header_top" style = "display:flex;justify-content:space-between;align-items:center;background-color:rgb(27, 27, 143);height:85px;">
        <div>
            <img src = "vbmlogo.jpg" width ="300" height = "83" style = "margin-top:3px;margin-left:3px" />
        </div>
        <div style = "color:white;font-size:large;margin-right:20px">Logout</div>
    </div>

    <div class = "header_middle" style = "display:flex;justify-content:space-evenly;align-items:center;background-color:rgb(117, 17, 17);height:85px;">
        <a href = "" style = "color:white;font-size:large;text-decoration:none">Users</a>
        <a href = "" style = "color:white;font-size:large;text-decoration:none">Services</a>
        <a href = "" style = "color:white;font-size:large;text-decoration:none">About</a>
    </div>

    <div class = "table_area" style = "display:flex;justify-content:space-around;flex-wrap:wrap;width:100%;height:450px;align-items:center;">

                <div id = "ID1">
                    <div class = "header">1</div>
                    <div class = "body">Gopinadh</div>
                </div>

                <div id = "ID1">
                    <div class = "header">2</div>
                    <div class = "body">Venkatapathi Raju</div>
                </div>

                <div id = "ID1">
                    <div class = "header">3</div>
                    <div class = "body">Jai</div>
                </div>
            
                <div id = "ID1">
                    <div class = "header">4</div>
                    <div class = "body">Venky</div>
                </div>

                <div id = "ID1">
                    <div class = "header">5</div>
                    <div class = "body">Sanjay</div>
                </div>

                <div id = "ID1">
                    <div class = "header">6</div>
                    <div class = "body">Dorababu</div>
                </div>
    </div>
</body>
</html>