<!DOCTYPE html>
<html>
<head>
        <style>
            #ID1{
                color:white;
                font-size:20px;
            }            
        </style>
</head>

<body style = "margin:0px;background-color:rgb(209, 207, 207);display:flex;justify-content:center;">
   
        <div class = "login_form" style = "background-color:rgb(39, 39, 107);height:400px;width:300px;margin:50px;display:flex;align-items:center;justify-content:center;">
                
                <div>
                    <div id = "ID1">Login</div>
                </br>
                    <div id = "ID1">
                         <div>User Name</div>
                         <input type = "text" placeholder = "enter user name">
                    </div>
                </br>
                    <div id = "ID1">
                        <div>Password</div>
                        <input type = "password" placeholder = "enter password">
                    </div>
                </br>
                    <div>
                        <a href = "" style = "text-decoration:none;color:white" id = "ID1">Forgot Password?</a>
                    </div>
                </br>
                    <div id = "ID1">
                        <button>Login</button>
                        <button>Cancel</button>
                    </div> 
                </div>
        </div>            
</body>
</html>