<!DOCTYPE html>
<html>
<head>
    <style>
        .header{
                    border-bottom:1px solid black;
                    text-align:center;
                    width:150px;
                    color:white;
                    background-color:rgb(153, 51, 51);
                    width:150pxpx;
                 }   
        .body{
                    text-align:center;
                    color:white;
                    background-color:rgb(153, 51, 51);
                    height:150px;
        }
    </style>
</head>
<body class = "page_body" style = "background-color:gray;margin:0px">
    <div class = "header_top" style = "display:flex;justify-content:space-between;align-items:center;background-color:rgb(97, 97, 172);height:85px;">
        <div>
            <img src = "vbmlogo.jpg" width ="300" height = "83" style = "margin-top:3px;margin-left:3px" />
        </div>
        <div style = "color:white;font-size:large;margin-right:20px">Logout</div>
    </div>
    <div class = "header_middle" style = "display:flex;justify-content:space-evenly;align-items:center;background-color:rgb(194, 141, 141);height:85px;">
        <div style = "color:white;font-size:large">Users</div>
        <div style = "color:white;font-size:large">Services</div>
        <div style = "color:white;font-size:large">About</div>
    </div>
        <div class = "table_area" style = "display:flex;justify-content:space-around;flex-wrap:wrap;">
                <div>
                    <div class = "header">1</div>
                    <div class = "body">Phani</div>
                </div>
                <div>
                    <div class = "header">2</div>
                    <div class = "body">Ashok</div>
                </div>
                <div>
                    <div class = "header">3</div>
                    <div class = "body">Bharath</div>
                </div>
            
                     <div>
                        <div class = "header">4</div>
                        <div class = "body">Karthik</div>
                    </div>
                    <div>
                        <div class = "header">5</div>
                        <div class = "body">Sridhar</div>
                    </div>
                    <div>
                        <div class = "header">6</div>
                        <div class = "body">Rahul</div>
                    </div>
            
        </div>



</body>








</html>