<!DOCTYPE html>
<html>
    <style>
            div{
                color:white;
            }
    </style>
<body style = "background-color:gray">
        <div class = "login_form" style = "background-color:rgb(39, 39, 107);height:300px;width:200px;padding:10px;margin-left:560px;margin-top:50px">
                <div style = "text-align:left;font-size:25px;color:white;padding-top:20px;margin-left:15px">Login</div>
                    <div style = "padding-top:20px;margin-left:15px">Username</div>                    
                    <input type = "text" placeholder = "enter user name" style = "margin-left:15px"/>
        
                <div style = "padding-top:20px;margin-left:15px">Password</div>
                <input type = "password" placeholder = "enter password" style = "margin-left:15px"/>
        
                <div class = "buttons" style = "float:left;margin-top:15px;margin-left:30px">
                            <button type = "button">Login</button>
                            <button type = "button" style = "margin-left:20px">Cancel</button>

                </div>
        </div>


</body>
</html>