<!DOCTYPE html>
<html>
<body style = "background-color:rgb(218, 198, 198)">
<div class = "page_header" style = "background:rgb(79, 79, 202);height:96px;border-radius:5px;width:100%">
    <div class_headerlogo style = "float:left">
            <img src = "vbmlogo.jpg" alt = "logo" height = "75" width = "200" style = "padding-top:10px;padding-left:10px">
    </div>
    <div class = "header_menu">
    <div>
        <a href = "" style = "text-decoration:none;float:left;color:white;padding-left:630px;padding-top:35px">Home</a>
    </div>
    <div>
        <a href = "" style = "text-decoration:none;float:left;color:white;padding-top:35px;padding-left:30px">Services</a>
    </div>
    <div>
        <a href = "" style = "text-decoration:none;float:left;color:white;padding-top:35px;padding-left:30px">About</a>
    </div>
    <div>
        <a href = "" style = "text-decoration:none;float:left;color:white;padding-top:35px;padding-left:210px">Logout</a>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>
    <div class = "credentials_username" style = "width:48%;float:left;background-color:cadetblue;border-radius:5px;padding:10px;height:80px;margin-right:8px">
        <div>Username</div>
        <div>
            <input type = "text" placeholder = "Please enter your user name"/>
        </div>
    </div>
    <div class = "credentials_password" style = "width:48%;float:left;background-color:cadetblue;border-radius:5px;padding:10px;height:80px;margin-left:4px">
        <div>Password</div>
        <div>
            <input type = "password" placeholder = "Please enter your password"/>
        </div>
    </div>
</br>
</br>
</br>
</br>
</br>
</br>
    <div class = "namefeild_firstname" style = "width:48%;float:left;background-color:cadetblue;border-radius:5px;padding:10px;height:80px;margin-right:8px">
            <div>First Name</div>
            <div>
                <input type = "text" placeholder = "Please enter your first name"/>
            </div>
        </div>
        <div class = "namefeild_lastname" style = "width:48%;float:left;background-color:cadetblue;border-radius:5px;padding:10px;height:80px;margin-left:4px">
            <div>Last Name</div>
            <div>
                <input type = "text" placeholder = "Please enter your last name"/>
            </div>
        </div>
    </br>
</br>
</br>
</br>
</br>
</br>
<div class = "Genderfeild" style = "width:48%;float:left;background-color:cadetblue;border-radius:5px;padding:10px;height:80px;margin-right:8px">
        <div>Gender</div>
        <div>
            <input type = "radio" name = "gender">
                <label>Male</label>
            <input type = "radio" name = "gender">
                <label>Female</label>
        </div>
    </div>
    <div class = "Hobbiesfeild" style = "width:48%;float:left;background-color:cadetblue;border-radius:5px;padding:10px;height:80px;margin-left:4px">
        <div>Hobbies</div>
        <div>
            <input type = "checkbox"/>
            <label>Cricket</label>
            <input type = "checkbox"/>
            <label>Football</label>
            <input type = "checkbox"/>
            <label>Tennis</label>
            <input type = "checkbox"/>
            <label>Golf</label>
            <input type = "checkbox"/>
            <label>Badminton</label>
        </div>
    </br>
</br>
</br>
</br>
    <div class = "Addressfield" style = "background-color:cadetblue;height:100%;border-radius:5px;padding:5px;margin-top:-10px;margin-left:-687px;width:206%">
        <div>Address</div>
        <textarea></textarea>
    </div>
</br>
    <div class = "buttons" style = "margin-left:-75px">
        <button type = "button">Register</button>
        <button type = "button">Cancel</button>
    </div>
</body>
</html>