<!DOCTYPE html>
<html>

<head>
    <link href="vegetables.css" rel="stylesheet" />
</head>

<body style="margin:0px;">
    <div class="page_body">

        <div class="header1">
            <div class="logo">
                <img src="img/bigbasket.jpg" width="150px" height="75px" />
            </div>

            <div class="title">
                Welcome To Pruthvi Farms
            </div>

            <div class="shopping_cart">
                <img src="img/cart.png" width="30px" height="30px" />
            </div>
        </div>

        <div class="header2">
            <div class="header2_content">
                <span><a href="vegetables.html">Vegetables</a></span>
                <span><a href="rice.html">Rice</a></span>
                <span><a href="millets.html">Millets</a></span>
                <span><a href="pulses.html">Pulses</a></span>
                <span style="border-bottom:3px solid blue;"><a href="cart.html">Cart</a></span>
            </div>
        </div>

        <div class = "cart_body">
            <div class = "cart_header1">
                <div class = "left">My Cart(0 items)</div>
                <div class = "right">
                    <button name = "cart1">Continue Shopping</button>
                    <button name = "cart2">Proceed to Shopping</button>
                </div>
            </div>

            <div class = "cart_header2">
                <div class = "cart_header2_left">
                        <span>Item</span>
                        <span>Qty</span>
                        <span>Price</span>
                        <span>Total</span>
                        
                </div>
                <div class = "cart_header2_right">
                        <span>Action</span>
                </div>
            </div>

            <div class = "cart_header3">
                <div>SubTotal:300</div>
                <div>Delivery Charges:100</div>
                <div>Total:400</div>
            </div>

            <div class = "cart_header4">
                    <div class = "left">My Cart(0 items)</div>
                    <div class = "right">
                        <button name = "cart1">Continue Shopping</button>
                        <button name = "cart2">Proceed to Shopping</button>
                    </div>
            </div>

        </div>
            