<!DOCTYPE html>
<html>

<head>
    <link href="vegetables.css" rel="stylesheet" />
</head>

<body style="margin:0px;">
    <div class="page_body">

        <div class="header1">
            <div class="logo">
                <img src="img/bigbasket.jpg" width="150px" height="75px" />
            </div>

            <div class="title">
                Welcome To Pruthvi Farms
            </div>

            <div class="shopping_cart">
                <img src="img/cart.png" width="30px" height="30px" />
            </div>
        </div>

        <div class="header2">
            <div class="header2_content">
                <span><a href="vegetables.html">Vegetables</a></span>
                <span><a href="rice.html">Rice</a></span>
                <span ><a href="millets.html">Millets</a></span>
                <span style="border-bottom:3px solid blue;"><a href="pulses.html">Pulses</a></span>
                <span><a href="cart.html">Cart</a></span>
            </div>
        </div>

        <div class="content_body">
            <div class="content_top">

                <div class="content_top_box1">
                    <div class="gross_image">
                        <img src="img/toorarhar-dal.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Toor Dal</h4>
                            <h4>500 Gms</h4>
                            <h4>Rs85/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>


                </div>

                <div class="content_top_box1">
                    <div class="gross_image">
                        <img src="img/organic-turtoor-dal.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Organic Toor Dal</h4>
                            <h4>500 Gms</h4>
                            <h4>Rs150/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>
                </div>

                <div class="content_top_box1">
                    <div class="gross_image">
                        <img src="img/moong-dal.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Moong Dal</h4>
                            <h4>2KG</h4>
                            <h4>Rs250/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>
                </div>

                <div class="content_top_box1">
                    <div class="gross_image">
                        <img src="img/channa-dal.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Channa Dal</h4>
                            <h4>1KG</h4>
                            <h4>Rs92/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="content_bottom">

                <div class="content_bottom_box1">
                    <div class="gross_image">
                        <img src="img/korralu.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Organic Korralu</h4>
                            <h4>500 Gms</h4>
                            <h4>Rs289/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>


                </div>

                <div class="content_bottom_box1">
                    <div class="gross_image">
                        <img src="img/green-moong-wholesabut.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Green Moong</h4>
                            <h4>1KG</h4>
                            <h4>Rs120/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>
                </div>

                <div class="content_bottom_box1">
                    <div class="gross_image">
                        <img src="img/organic-chana-dalchanna-unpolished.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Organi Channa Dal</h4>
                            <h4>2KG</h4>
                            <h4>Rs219/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>
                </div>

                <div class="content_bottom_box1">
                    <div class="gross_image">
                        <img src="img/brown-chana.jpg" width="100px" height="100px" />
                    </div>
                    <div class="box_content">
                        <div>
                            <h4>Channa Dal (Brown)</h4>
                            <h4>1KG</h4>
                            <h4>Rs90/-</h4>
                        </div>
                        <h6>-Standard Delivery: Tomorrow Evening</h6>
                        <div>
                            <h4>Quantity</h4>
                            <select>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="cart_button">
                            <input type=image src="img/addtocart.png" width="150px" height="80px" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    </html>